In [1]:
#import basic python libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import statistics
from scipy.stats import sem

In [2]:
#load the SuEatableLife_Food_Fooprint_database
input_file = pd.read_csv('D:/IIITD/Mansi_Thesis_Research/Foodprint/Updated_Mansi/Data/Sueatable_preprocessed_data_with_duplicates.csv', encoding='latin1')

In [3]:
input_file

,FOOD COMMODITY GROUP,FOOD COMMODITY TYPOLOGY,FOOD COMMODITY ITEM,Carbon footprint (kg CO2 eq/kg or litre of food commodity),Type of source,Full Reference,Publication year,System Boundary Distribution,Country,Region,Notes,Reported in other data summaries,Modification of original values
0,AGRICULTURAL PROCESSED,BEER,BEER GLASS BOTTLE,0.420,EPD,"BIER, 2012. Research on the carbon footprint o...",2012,RETAILER,Europe,Europe,33.cc.glass bottle,this study,-
1,AGRICULTURAL PROCESSED,BEER,BEER GLASS BOTTLE,0.568,JOURNAL,"Cimini, A., & Moresi, M. (2016). Carbon footpr...",2016,RETAILER,Italy,Mediterranean area,66.cc. glass bottle,this study,-
2,AGRICULTURAL PROCESSED,BEER,BEER GLASS BOTTLE,0.666,JOURNAL,"Cimini, A., & Moresi, M. (2016). Carbon footpr...",2016,RETAILER,Italy,Mediterranean area,33.cc.glass bottle,this study,-
3,AGRICULTURAL PROCESSED,BEER,BEER GLASS BOTTLE,0.842,JOURNAL,"Amienyo, D., & Azapagic, A. (2016). Life cycle...",2016,RETAIL,UK,N Europe,33.cc.glass bottle,this study,-
4,AGRICULTURAL PROCESSED,BEER,BEER GLASS BOTTLE,0.961,EPD,Carlsberg. Environmental Product Declaration o...,2018,RETAILER,Italy,Mediterranean area,33.cc.glass bottle,this study,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,FISHING,SHELLFISH FROZEN,OCTOPUS (F),7.879,JOURNAL,"VÃ zquez-Rowe, I., M.T. Moreira, G. Feijoo. En...",2012,"SB spanish market, imported",Chile,S America,wild,BCFN (double pyramid 2016),P
3376,FISHING,SHELLFISH FROZEN,PRAWNS/SHRIMP (F),5.805,LCA DATABASE,"LCA Food, viewed on June 2013. <www.LCAfood.dk>",2010,SB is calculated as the mean value of CF betwe...,Denmark,N Europe,wild,BCFN (double pyramid 2016),P
3377,FISHING,SHELLFISH FROZEN,PRAWNS/SHRIMP (F),7.200,JOURNAL,"Farmery, A., C. Gardner, B. S. Green, S. Jenni...",2015,RDC,Australia,Oceania,frozen,Clune et al 2017 database,-
3378,FISHING,SHELLFISH FROZEN,PRAWNS/SHRIMP (F),22.930,JOURNAL,"Ziegler, F., J.L. Eichelsheim, A. Emanuelsson,...",2009,"IMPORTED FROM SPAIN, PORT",Senegal,Africa,wild,BCFN (double pyramid 2016),-
3379,FISHING,SHELLFISH FROZEN,PRAWNS/SHRIMP (F),35.000,JOURNAL,"Ziegler, F., A. Emanuelsson, J. L. Eichelsheim...",2011,RDC,Senegal,Africa,wild,Clune et al 2017 database,-

In [4]:
#converting all regions to the uppercase
input_file['Region'] = input_file['Region'].str.upper()

In [5]:
#converting all countries to the uppercase
input_file['Country'] = input_file['Country'].str.upper()

In [6]:
#removing duplicates rows(data)
input_file = input_file.drop_duplicates(keep='first')

In [7]:
len(input_file)

3340

In [8]:
input_file

,FOOD COMMODITY GROUP,FOOD COMMODITY TYPOLOGY,FOOD COMMODITY ITEM,Carbon footprint (kg CO2 eq/kg or litre of food commodity),Type of source,Full Reference,Publication year,System Boundary Distribution,Country,Region,Notes,Reported in other data summaries,Modification of original values
0,AGRICULTURAL PROCESSED,BEER,BEER GLASS BOTTLE,0.420,EPD,"BIER, 2012. Research on the carbon footprint o...",2012,RETAILER,EUROPE,EUROPE,33.cc.glass bottle,this study,-
1,AGRICULTURAL PROCESSED,BEER,BEER GLASS BOTTLE,0.568,JOURNAL,"Cimini, A., & Moresi, M. (2016). Carbon footpr...",2016,RETAILER,ITALY,MEDITERRANEAN AREA,66.cc. glass bottle,this study,-
2,AGRICULTURAL PROCESSED,BEER,BEER GLASS BOTTLE,0.666,JOURNAL,"Cimini, A., & Moresi, M. (2016). Carbon footpr...",2016,RETAILER,ITALY,MEDITERRANEAN AREA,33.cc.glass bottle,this study,-
3,AGRICULTURAL PROCESSED,BEER,BEER GLASS BOTTLE,0.842,JOURNAL,"Amienyo, D., & Azapagic, A. (2016). Life cycle...",2016,RETAIL,UK,N EUROPE,33.cc.glass bottle,this study,-
4,AGRICULTURAL PROCESSED,BEER,BEER GLASS BOTTLE,0.961,EPD,Carlsberg. Environmental Product Declaration o...,2018,RETAILER,ITALY,MEDITERRANEAN AREA,33.cc.glass bottle,this study,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,FISHING,SHELLFISH FROZEN,OCTOPUS (F),7.879,JOURNAL,"VÃ zquez-Rowe, I., M.T. Moreira, G. Feijoo. En...",2012,"SB spanish market, imported",CHILE,S AMERICA,wild,BCFN (double pyramid 2016),P
3376,FISHING,SHELLFISH FROZEN,PRAWNS/SHRIMP (F),5.805,LCA DATABASE,"LCA Food, viewed on June 2013. <www.LCAfood.dk>",2010,SB is calculated as the mean value of CF betwe...,DENMARK,N EUROPE,wild,BCFN (double pyramid 2016),P
3377,FISHING,SHELLFISH FROZEN,PRAWNS/SHRIMP (F),7.200,JOURNAL,"Farmery, A., C. Gardner, B. S. Green, S. Jenni...",2015,RDC,AUSTRALIA,OCEANIA,frozen,Clune et al 2017 database,-
3378,FISHING,SHELLFISH FROZEN,PRAWNS/SHRIMP (F),22.930,JOURNAL,"Ziegler, F., J.L. Eichelsheim, A. Emanuelsson,...",2009,"IMPORTED FROM SPAIN, PORT",SENEGAL,AFRICA,wild,BCFN (double pyramid 2016),-
3379,FISHING,SHELLFISH FROZEN,PRAWNS/SHRIMP (F),35.000,JOURNAL,"Ziegler, F., A. Emanuelsson, J. L. Eichelsheim...",2011,RDC,SENEGAL,AFRICA,wild,Clune et al 2017 database,-

In [9]:
input_file.to_csv('D:/IIITD/Mansi_Thesis_Research/Foodprint/Updated_Mansi/Data/Sueatable_preprocessed_data.csv', header=True, index=False)

Total Regions

In [10]:
len(input_file['Region'].unique())

18

In [11]:
input_file['Region'].unique()

array(['EUROPE', 'MEDITERRANEAN AREA', 'N EUROPE', 'S AMERICA',
       'N AMERICA', 'ASIA', 'WORLD', 'C AMERICA', 'AFRICA', 'OCEANIA',
       'E EUROPE', 'W EUROPE', 'C EUROPE', 'CS AMERICA', 'S AFRICA',
       'NON EU COUNTRIES', 'ATLANTIC OCEAN', 'PACIFIC OCEAN'],
      dtype=object)

Total Countries

In [12]:
len(input_file['Country'].unique())

112

In [13]:
input_file['Country'].unique()

array(['EUROPE', 'ITALY', 'UK', 'CHILE', 'USA', 'MEDITERRANEAN AREA',
       'FRANCE', 'INDIA', 'AUSTRIA', 'DENMARK', 'SWEDEN',
       'WORLD ESTIMATE', 'PORTUGAL', 'SPAIN', 'ECUADOR', 'COSTA RICA',
       'TANZANIA', 'MEXICO', 'GUATEMALA', 'NICARAGUA', 'EL SALVADOR',
       'COLOMBIA', 'BRAZIL', 'VIETNAM', 'GERMANY', 'NETHERLANDS', 'MALTA',
       'CHINA', 'AUSTRALIA', 'CANADA', 'ARGENTINA', 'GREECE', 'TURKEY',
       'CYPRUS', 'MALAYSIA', 'MAURITIUS', 'THAILAND', 'LUXEMBOURG',
       'FINLAND', 'E EUROPE', 'LITHUANIA', 'POLAND', 'RUSSIA', 'SLOVAKIA',
       'EU 27', 'IRELAND', 'ROMANIA', 'BULGARIA', 'LATVIA', 'NORWAY',
       'BELGIUM', 'CANADA (WEST)', 'USA MID-WEST', 'W EUROPE',
       'CZECH REPUBLIC', 'URUGUAY', 'SLOVENIA', 'CANADA (EAST)', 'JAPAN',
       'HUNGARY', 'OCEANIA', 'ESTONIA', 'AFRICA (NEAR EAST AND NORTH)',
       'N AMERICA', 'VENEZUELA', 'ASIA (EAST AND SOUTH-EAST)',
       'AFRICA (SUBSAHARAN)', 'ASIA (SOUTH)', 'N EUROPE', 'C EUROPE',
       'S AMERICA (LATIN AMERICA AND CARIBEAN)', 'NEW ZEALAND',
       'SWITZERLAND', 'UKRAINE', 'MOLDAVIA', 'SERBIA', 'ISRAEL',
       'SOUTH AFRICA', 'CROATIA', 'KAZAKHISTAN', 'PERU', 'MOROCCO',
       'E ASIA', 'BELARUS', 'UGANDA', 'PAKISTAN', 'BANGLADESH',
       'AMERICA (CENTRAL AND SOUTH)', 'NORTH AFRICA', 'FRANCE (CORSICA)',
       'REUNION ISLAND', 'IRAN', 'NON EU COUNTRIES', 'S AMERICA',
       'FRANCE (NORTH)', 'FRANCE (SOUTH)', 'SPAIN (VALENCIA)',
       'PHILIPPINES', 'GHANA', 'UK (SCOTLAND)', 'KOREA', 'MALDIVES',
       'INDONESIA', 'MADAGASCAR', 'SOMALIA', 'ICELAND', 'SENEGAL',
       'TUNISIA', 'INDIAN OCEAN', 'ATLANTIC OCEAN', 'PACIFIC OCEAN',
       'ALASKA'], dtype=object)

**Country Region Mapping**

In [14]:
tem3 = input_file

In [15]:
tem3.drop(tem3.columns[[0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12]], axis=1, inplace=True)

C:\Users\Mansi Goel\AppData\Local\Temp\ipykernel_32760\1123570305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tem3.drop(tem3.columns[[0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12]], axis=1, inplace=True)

In [16]:
s = tem3.drop_duplicates()
len(s)

112

In [17]:
s2 = s.sort_values(by = ['Region', 'Country'], ascending = [True, True])

In [18]:
s2

                                     Country     Region
765             AFRICA (NEAR EAST AND NORTH)     AFRICA
780                      AFRICA (SUBSAHARAN)     AFRICA
2424                                   GHANA     AFRICA
3083                              MADAGASCAR     AFRICA
462                                MAURITIUS     AFRICA
...                                      ...        ...
1005  S AMERICA (LATIN AMERICA AND CARIBEAN)  S AMERICA
725                                  URUGUAY  S AMERICA
769                                VENEZUELA  S AMERICA
709                                 W EUROPE   W EUROPE
92                            WORLD ESTIMATE      WORLD

[112 rows x 2 columns]

In [19]:
s2.to_csv('D:/IIITD/Mansi_Thesis_Research/Foodprint/Updated_Mansi/Extra/country_region_mapping.csv', header=True, index=False)